.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}
.flex-col a:hover{
  color: black ;
padding-left: 28px;
}

.items-start{
  align-items: flex-start;
}

.items-center a{
  align-items: center;
  color: black;
}


.justify-between{
  justify-content: space-between;
}

.gap-6{
  gap: 1.5rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem
}

.font-semibold{
  font-weight: 600
}

.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300{
  transition-duration: 300ms
}

.hover\:text-blue-500:hover{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.hover\:underline:hover{
  text-decoration-line: underline
}

@media (min-width: 640px){
  .sm\:grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }

  .sm\:gap-y-5{
    row-gap: 1.25rem
  }
}

@media (min-width: 768px){
  .md\:my-8{
    margin-top: 2rem;
    margin-bottom: 2rem
  }
}

@media (min-width: 1024px){
  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

@media (prefers-color-scheme: dark){
  .dark\:border-gray-700{
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity))
  }

  .dark\:text-gray-300{
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
  }

  .dark\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }

  .dark\:hover\:text-blue-400:hover{
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity))
  }
}

.imagesize {
  height: 5rem;
}

.waha {
  margin-top: 90px;
}